* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}

body {
  background-color: #020617;
  color: #fffbf4;
}

/* ======= Header ======= */
header {
  width: 100%;
  position: fixed;
}

header div {
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

#icon {
  font-size: 28px;
  color: #48cae4;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 40px;
  justify-content: center;
}

nav ul a {
  display: inline-block;
  position: relative;
  color: #fff;
}

nav ul a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #48cae4;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

nav ul a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.navbar-scroll {
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
  z-index: 99;
  background-color: hsla(229, 84%, 5%, 0.5);
  backdrop-filter: blur(12px);
  --tw-shadow-color: #000;
}

/* ======= Hero ======= */
#hero,
#about {
  display: flex;
  align-items: center;
  padding: 120px 200px 0;
}

#hero .name {
  width: 100%;
}

#hero .name h2 {
  color: #48cae4;
  margin-bottom: -10px;
}

#hero .name h1 {
  font-size: 46px;
  font-weight: 700;
}

.name h3 {
  color: #acacac;
  font-size: 20px;
}

#hero .social-links {
  margin-top: 40px;
  display: flex;
}

#hero .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#hero .social-links a:hover {
  background: #48cae4;
}

.container {
  width: 100%;
}

/* ======== About ======== */
#profile h1,
#profile span {
  font-size: 40px;
  margin-bottom: 18px;
}

#profile span {
  color: #48cae4;
}

#profile p {
  margin-bottom: 20px;
}

#technologies {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tools {
  background-color: #0077b6;
  padding: 4px 14px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.tools:hover,
.tech:hover {
  background-color: #0096c7;
}

#about img {
  margin-right: 20px;
  margin-top: 30px;
  border: 2px solid #48cae4;
  border-radius: 50%;
}

/* ======== Portfolio ======== */
#portfolio {
  margin: 0 200px 0;
  padding-top: 130px;
}

#portfolio h1 {
  font-size: 38px;
  font-weight: 700;
  color: #48cae4;
}

#projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}

.cards {
  width: 400px;
  height: 570px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 5px #3c3c3c;
}

.cards:hover {
  transform: scale(1.01);
  transition: 200ms;
  box-shadow: 0 0 10px #3c3c3c;
}

.cards img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.cards .desc {
  padding: 0 15px 20px;
}

.desc .project-title {
  font-size: 28px;
  color: #fffbf4;
}

.desc .project-title:hover {
  color: #48cae4;
}

.desc h2 {
  color: #acacac;
  margin-top: -5px;
  margin-bottom: 10px;
}

.desc p {
  height: 100px;
  margin-bottom: 10px;
  font-size: 16px;
}

.tech {
  background-color: #0077b6;
  padding: 4px 14px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
}

/* ======= Blog ======= */
#blog {
  margin: 0 200px 0;
  padding-top: 130px;
}

#blog > h1 {
  font-size: 38px;
  font-weight: 700;
  color: #48cae4;
}

.blogs {
  display: flex;
  gap: 25px;
  color: #fff;
  margin-top: 30px;
  align-items: center;
  border-radius: 10px;
}
.blogs img {
  border-radius: 10px 0 0 10px;
}
.blog-title {
  font-size: 28px;
  margin-bottom: 40px;
}

.blogs:hover {
  transform: scale(1.01);
  transition: 200ms;
  box-shadow: 0 0 8px #090e38;
}
