* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}

body {
  background-color: rgb(2 6 23);
  color: #fffbf4;
}

/* ======= Header ======= */
header {
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

#icon {
  font-size: 28px;
  color: #48cae4;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 40px;
  justify-content: center;
}

nav ul a {
  display: inline-block;
  position: relative;
  color: #fff;
}

nav ul a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #48cae4;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

nav ul a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

/* ======= Hero ======= */
#hero {
  display: flex;
  padding: 0 200px;
  align-items: center;
  margin-top: 50px;
}

#hero .name {
  width: 100%;
}

#hero .name h2 {
  font-size: 18px;
  color: #48cae4;
  margin-bottom: -10px;
}

#hero .name h1 {
  font-size: 46px;
  font-weight: 700;
}

.name h3 {
  color: #acacac;
  font-size: 20px;
}

#hero .social-links {
  margin-top: 40px;
  display: flex;
}

#hero .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#hero .social-links a:hover {
  background: #48cae4;
}

.container {
  width: 100%;
}

/* ======== About ======== */
#about {
  display: flex;
  margin: 50px 200px 0;
  align-items: center;
}

#profile h1,
#profile span {
  font-size: 40px;
  margin-bottom: 18px;
}

#profile span {
  color: #48cae4;
}

#profile p {
  margin-bottom: 20px;
}

#technologies {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tools {
  background-color: #0077b6;
  padding: 4px 14px;
  border-radius: 50px;
  cursor: pointer;
}

.tools:hover {
  background-color: #0096c7;
}

#about img {
  margin-left: 20px;
  border: 2px solid #48cae4;
  border-radius: 50%;
}
